Repository souhaibelh/DevOps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spring-build-job, python-build-job, spring-test-job, python-test-job, docker-spring-build-job, docker-python-build-job, terraform-deploy-job

spring-build-job:
  stage: build
  image: eclipse-temurin:17-jdk-alpine
  script:
  - chmod +x ./service-java/mvnw
  - ./service-java/mvnw -f ./service-java/pom.xml compile

python-build-job:
  stage: build
  image: python:3.12-slim
  script:
  - pip install -r ./service-python/requirements.txt
  - python -m compileall ./service-python

spring-test-job:
  stage: test
  image: eclipse-temurin:17-jdk-alpine
  script:
  - chmod +x ./service-java/mvnw
  - ./service-java/mvnw -f ./service-java/pom.xml test

python-test-job:
  stage: test
  image: python:3.12-slim
  script:
  - pip install -r ./service-python/requirements.txt
  - pip install pytest
  - pytest ./service-python/test_app.py

docker-spring-build-job:
  stage: deploy
  image: docker:28.3.3-cli
  services:
  - docker:28.3.3-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  script:
  - docker build -t $DOCKER_USERNAME/spring-boot-app:1.0 -f ./service-java/spring.Dockerfile ./service-java
  ...

docker-python-build-job:
  stage: deploy
  image: docker:28.3.3-cli
  services:
  - docker:28.3.3-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  script:
  - docker build -t $DOCKER_USERNAME/flask:1.0 -f ./service-python/flask.Dockerfile ./service-python
  ...

terraform-deploy-job:
  image:
    name: hashicorp/terraform:1.6.5
    entrypoint:
    - ''
  stage: deploy
  needs:
  - job: docker-spring-build-job
  - job: docker-python-build-job
  variables:
    ARM_CLIENT_ID: $AZURE_CLIENT_ID
    ARM_CLIENT_SECRET: $AZURE_CLIENT_SECRET
    ARM_TENANT_ID: $AZURE_TENANT_ID
  ...

Update app.py
  service-python/app.py
Due: python-build-job, python-test-job, docker-python-build-job, terraform-deploy-job

Update DemoApplication.java
  service-java/src/main/java/be/esi/devops/demo/DemoApplication.java
Due: spring-build-job, spring-test-job, docker-spring-build-job, terraform-deploy-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update test_app.py
  service-python/test_app.py
Due: python-build-job, python-test-job, docker-python-build-job, terraform-deploy-job

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Testing pipeline
  service-java/src/main/java/be/esi/devops/demo/DemoApplication.java
  service-python/app.py
  service-python/test_app.py
Due: spring-build-job, python-build-job, spring-test-job, python-test-job, docker-spring-build-job, docker-python-build-job, terraform-deploy-job

Update ac.tf
  ac.tf
Due: none

Path conditions:
  spring-build-job: any of: service-java/**/*
  python-build-job: any of: service-python/**/*
  spring-test-job: any of: service-java/**/*
  python-test-job: any of: service-python/**/*
  docker-spring-build-job: any of: service-java/**/*
  docker-python-build-job: any of: service-python/**/*
  terraform-deploy-job: any of: service-python/**/*, service-java/**/*
