Repository souhaibelh/DevOps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spring-build-job, python-build-job, spring-test-job, python-test-job, docker-spring-build-job, docker-python-build-job, terraform-deploy-job

spring-build-job:
  stage: build
  image: eclipse-temurin:17-jdk-alpine
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=/cache/mvn-dependencies
  script:
  - chmod +x ./service-java/mvnw
  - ./service-java/mvnw -f ./service-java/pom.xml package -DskipTests
  artifacts:
    paths:
    - service-java/target/*.jar
    expire_in: 1 week

python-build-job:
  stage: build
  image: python:3.12-slim
  variables:
    PIP_CACHE_DIR: /cache/pip
  script:
  - pip install -r ./service-python/requirements.txt
  - python -m compileall ./service-python

spring-test-job:
  stage: test
  image: eclipse-temurin:17-jdk-alpine
  dependencies:
  - spring-build-job
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=/cache/mvn-dependencies
  script:
  - ls -la service-java/target/
  - chmod +x ./service-java/mvnw
  - ./service-java/mvnw -f ./service-java/pom.xml test

python-test-job:
  stage: test
  image: python:3.12-slim
  variables:
    PIP_CACHE_DIR: /cache/pip
  script:
  - pip install -r ./service-python/requirements.txt
  - pip install pytest
  - pytest ./service-python/test_app.py

docker-spring-build-job:
  stage: docker-build
  image: docker:28.3.3-cli
  services:
  - docker:28.3.3-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  script:
  ...

docker-python-build-job:
  stage: docker-build
  image: docker:28.3.3-cli
  services:
  - docker:28.3.3-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  script:
  ...

terraform-deploy-job:
  image:
    name: hashicorp/terraform:1.6.5
    entrypoint:
    - ''
  stage: deploy
  variables:
    ARM_CLIENT_ID: $AZURE_CLIENT_ID
    ARM_CLIENT_SECRET: $AZURE_CLIENT_SECRET
    ARM_TENANT_ID: $AZURE_TENANT_ID
    ARM_SUBSCRIPTION_ID: $AZURE_SUBSCRIPTION_ID
    TF_VAR_docker_username: $DOCKER_USERNAME
  ...

Update spring-pipeline-optimized.Dockerfile
  service-java/spring-pipeline-optimized.Dockerfile
Due: spring-build-job, spring-test-job, docker-spring-build-job, terraform-deploy-job

Update DemoApplication.java
  service-java/src/main/java/be/esi/devops/demo/DemoApplication.java
Due: spring-build-job, spring-test-job, docker-spring-build-job, terraform-deploy-job

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add README.md
  README.md
Due: none

Python testing pipeline
  service-python/app.py
  service-python/test_app.py
Due: python-build-job, python-test-job, docker-python-build-job, terraform-deploy-job

Testing java side of things
  service-java/src/main/java/be/esi/devops/demo/DemoApplication.java
Due: spring-build-job, spring-test-job, docker-spring-build-job, terraform-deploy-job

Dual testing services
  service-java/src/main/java/be/esi/devops/demo/DemoApplication.java
  service-java/src/main/java/be/esi/devops/demo/rest/ServiceRestController.java
  service-python/app.py
  service-python/test_app.py
Due: spring-build-job, python-build-job, spring-test-job, python-test-job, docker-spring-build-job, docker-python-build-job, terraform-deploy-job

Ultimate last test
  service-java/src/main/java/be/esi/devops/demo/DemoApplication.java
  service-python/app.py
  service-python/test_app.py
Due: spring-build-job, python-build-job, spring-test-job, python-test-job, docker-spring-build-job, docker-python-build-job, terraform-deploy-job

added docker ignore files
  service-java/.dockerignore
  service-python/.dockerignore
Due: spring-build-job, python-build-job, spring-test-job, python-test-job, docker-spring-build-job, docker-python-build-job, terraform-deploy-job

Update ServiceRestController.java
  service-java/src/main/java/be/esi/devops/demo/rest/ServiceRestController.java
Due: spring-build-job, spring-test-job, docker-spring-build-job, terraform-deploy-job

Update README.md
  README.md
Due: none

Path conditions:
  spring-build-job: any of: service-java/**/*
  python-build-job: any of: service-python/**/*
  spring-test-job: any of: service-java/**/*
  python-test-job: any of: service-python/**/*
  docker-spring-build-job: any of: service-java/**/*
  docker-python-build-job: any of: service-python/**/*
  terraform-deploy-job: any of: service-python/**/*, service-java/**/*
