Repository souhaibelh/DevOps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spring-build-job, python-build-job, spring-test-job, python-test-job

.gitlab-ci.yml:

stages:
  - build
  - test

spring-build-job:
  stage: build
  image: eclipse-temurin:17-jdk-alpine
  rules:
    - changes:
        - service-java/**/*
  script:
    - chmod +x ./service-java/mvnw
    - ./service-java/mvnw -f ./service-java/pom.xml compile

python-build-job:
  stage: build
  image: python:3.12-slim
  rules:
    - changes:
        - service-python/**/*
  script:
    - pip install -r ./service-python/requirements.txt
    - python -m compileall ./service-python

spring-test-job:
  stage: test
  image: eclipse-temurin:17-jdk-alpine
  rules:
    - changes:
        - service-java/**/*
  script:
    - chmod +x ./service-java/mvnw
    - ./service-java/mvnw -f ./service-java/pom.xml test

python-test-job:
  stage: test
  image: python:3.12-slim
  rules:
    - changes:
        - service-python/**/*
  script:
    - pip install pytest
    - pytest ./service-python/test_app.py

Update app.py
  service-python/app.py
Due: python-build-job, python-test-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update DemoApplication.java
  service-java/src/main/java/be/esi/devops/demo/DemoApplication.java
Due: spring-build-job, spring-test-job

Added teraform file that creates the azure infrastructure needed to hold both containers in the same network so they can communicate with each other
  ac.tf
Due: none

Added dns name to easily access the site
  ac.tf
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Added terraform deploy code
  .gitlab-ci.yml
Due: none

Remodeled terraform script to be modular and allow external manipulation through environmental variables
  ac.tf
Due: none

Added the backup files and the state files and the lock files for terraform
  .terraform.lock.hcl
  terraform.tfstate
  terraform.tfstate.backup
Due: none

Update test_app.py
  service-python/test_app.py
Due: python-build-job, python-test-job
